---
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="bg-black">
    <HeroSection />
    <section class="py-16 text-center">
      <p class="text-neutral-600 text-xl">Website is under construction</p>
    </section>
  </main>
</Layout>
