---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="min-h-screen bg-black">
    <section class="container mx-auto px-4 py-16">
      <div class="flex justify-center items-center">
        <img src="/src/assets/logotype.svg" alt="Logotype" class="w-64" />
      </div>
    </section>
  </main>
</Layout>
