---
import HeroSection from "../components/HeroSection.astro";
import CreatoriGiardinoMarquee from "../components/CreatoriGiardinoMarquee.astro";
import WhatIsStupidHackSection from "../components/WhatIsStupidHackSection.astro";
import QuickOverview from "../components/QuickOverview.astro";
import AboutSection from "../components/AboutSection.astro";
import EventSection from "../components/EventSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!--? class="bg-black"-->
  <HeroSection />
  <CreatoriGiardinoMarquee />
  <WhatIsStupidHackSection />
  <QuickOverview />
  <AboutSection />
  <EventSection />
  <section class="py-16 text-center">
    <p class="text-neutral-600 text-xl">Website is under construction</p>
  </section>
</Layout>
