---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="min-h-screen bg-black">
    <section class="container mx-auto px-4 py-16">
      <div class="flex flex-col justify-center items-center relative">
        <img
          src="/src/assets/logotype.svg"
          alt="Stupido Hackettino"
          class="w-64 mb-0 z-10 relative"
        />
        <img
          src="/src/assets/manorah_cappuccina_blur.webp"
          alt="Manorah Cappuccina Blur"
          class="w-120 rounded-lg shadow-lg -mt-20 z-20 relative"
        />
      </div>
    </section>
  </main>
</Layout>
