---
import logotype from "../assets/logotype.svg?url";
import manorah from "../assets/manorah_cappuccina_blur.webp?url";
import heroBg from "../assets/hero-bg.webp?url";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="bg-black">
    <section class="px-4 pt-16 relative bg-cover bg-center" style={`background-image: url(${heroBg})`}>
      <div class="flex flex-col justify-center items-center relative">
        <img
          src={logotype}
          alt="Stupido Hackettino"
          class="w-[420px] mb-0 z-10 relative"
        />
        <img
          src={manorah}
          alt="Manorah Cappuccina Blur"
          class="w-[640px] rounded-lg shadow-lg -mt-20 z-20 relative"
        />
      </div>
      <div
        class="absolute inset-x-0 bottom-0 h-[480px] bg-gradient-to-t from-[#012976] to-transparent pointer-events-none z-30"
      >
      </div>
    </section>
  </main>
</Layout>
