---

---

<section class="w-full bg-black py-16">
  <div class="max-w-4xl mx-auto px-8 text-center">
    <h2
      class="text-4xl md:text-7xl text-white mb-2 tracking-wide"
      style="font-family: 'Righteous', cursive;"
    >
      WHAT IS<br />STUPID HACK
    </h2>

    <div
      class="inline-block text-white px-6 py-3 rounded-lg mb-4 text-3xl font-medium transform rotate-6 bg-[#19806f]"
      style="font-family: 'K2D', sans-serif;"
    >
      อยากใส่ใจ คือไรอ่ะ 👀
    </div>

    <p class="text-white text-lg leading-relaxed max-w-3xl mx-auto text-left">
      Stupid Hackathon Thailand is a gathering of creators, developers, and
      technology enthusiasts who come together to "create weird things that
      nobody wants and make crazy ideas come true!" This hackathon is all about
      building projects that are wonderfully useless but bursting with
      creativity and fun. It's a playground for makers and inventors from all
      fields who want to turn their wildest ideas into reality over a weekend.
    </p>
  </div>
</section>
